<%= form_for([topic, comment], remote: true) do |f| %>
  <%= f.hidden_field :topic_id %>

  <div class="field">
    <%= f.text_area :content, placeholder: "コメントする", class: "form-control",id:"commentArea"  %>
  </div>
  <div class="actions">
    <%= f.submit '投稿する', :class=>"btn btn-primary" %>
  </div>
<% end %>
