<div class="col-xs-12 col-md-10 col-md-offset-1">
  <h2 class="topixInput__title">
    修正画面
  </h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= render 'form', topic: @topic %>
    </div>
  </div>
</div>
