//twitter bootstrap アイコン用フォント
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("glyphicons-halflings-regular.eot");
  src: url("glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
       url("glyphicons-halflings-regular.woff2") format("woff2"),
       url("glyphicons-halflings-regular.woff") format("woff"),
       url("glyphicons-halflings-regular.ttf") format("truetype"),
       url("glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
//pcのみの設定
@mixin mq-pc {
    @media screen and (min-width: 980px) {
        @content;
    }
}
//タブレットのみの設定
@mixin mq-tablet {
    @media screen and (min-width: 768px) and (max-width: 979px)  {
        @content;
    }
}
//スマホのみの設定
@mixin mq-phone {
    @media screen and (max-width: 767px){
        @content;
    }
}
//余った文を・・・表示
@mixin ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
//viewportを基準とした相対値でfont sizeを決める
//(memo)第一引数で基準となる画面幅のフォントサイズ、第二引数で基準となる画面幅を入力する
@function get_vw($size, $viewport:320){
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}
@mixin fz_vw($font_size:10){
  font-size: $font_size * 1px;
  font-size: get_vw($font_size);
}

//共通Nav部分のdesign
.navArea{
    &__list{
    }
    &__itemIcon {
      &--sub{}
    }
    &__itemTwIcon{
      display: inline-block;
      margin-top:5px;
      font-size:26px;
      height: 36px;
    }
    &__itemText{
      display: inline-block;
      vertical-align:bottom;
      &--md24{
        height: 26px;
      }
      &--md36{
        height: 32px;
      }
    }
    &__itemTwText{
      display: inline-block;
      vertical-align:bottom;
      padding-left: 10px;
    }
    &__itemDrop{
      vertical-align:top;
      display: inline-block;
      font-weight:bolder;
      font-size:16px;
      margin-top:8px;
    }
}
//ユーザー情報詳細用デザイン
.userDataShow{
  &__title{
    @include fz_vw(10);
    padding:5px;
  }
  &__avatar{
    text-align: center;
    margin-top:10px;
    top:30px;
    @include mq-phone{
      top:0px;
    }

  }
  &__items{
    >label{
      display: inline-block;
      margin-left:26px;
      height: 11px;
    }
    >p {
      margin-top:-5px;
      margin-bottom: 0px;
      >span{
        display: inline-block;
        vertical-align: text-bottom;
        margin-left:5px;
      }
      .togglebutton{
        display:inline-block;
        float:right
      }
    }
  }
  &__follow{
    padding-top:10px;
  }
  &__follower{
  }
}
//デバイスのユーザー情報修正フォームdesign
.userDataInput{
  &__new{
  }
  &__items{
    padding:10px;
  }
  &__title{
    padding:5px;
  }
  &__error{
    margin: 5px;
    padding:8px;
    border-radius: 10px;
    background-color: #f2dede;
    border-color: #ebccd1;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  &__button{
    text-align: center;;
  }
  &__links{
    padding:8px;
  }
  &__links{
    padding:8px;
  }
  &__avatar{
    text-align:center;
  }
  &__divider{
    height: 30px;
  }
}
//ユーザー一覧画面設定
.showUser {
  padding:5px;
  min-width:200px;
    &--index {
    }
    &__avatar{
      img{width: 150px;
        @include mq-phone{
          width: 100px;
        }
      }
      &--large{
        img{width: 300px;}
      }
    }
    &__name{
      font-size:1.5em;
      margin:10px;
    }
    &__email{
      @include ellipsis;
    }
    &__followButton{
    }
    &__message{}
}
.showFollow {
  >.row{
    padding-bottom: 5px;

    }
    &--folow {
        background:red;
    }
    &--folower {
        background:blue;
    }
    &__avatar{
      img{width: 100px;}
    }
    &__name{
      height: 50px;
      text-align: left;
      @include ellipsis;
    }
    &__email{
    }
}
//TOPIC関連
.topic__

//オーバーライド
.navbar .navbar-nav > li > a{
  padding-top: 10px;
  padding-bottom: 10px;
}

//その他クラス
img{//Helperに渡すavatar用クラス　すべてimg限定
  &.avatarSize{
    &--myPage{
      @include mq-tablet{
        max-width:150px;
        height:auto;
      }
      @include mq-pc{
      width:200px;
        height:auto;
      }
    }
    &--myPageShow{
        max-width:150px;
        height:auto;
    }
    &--myPageFollow{
        max-width:30px;
        height:30px;
    }
  }
}
